* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

h1 {
    font-size: 38px;
}

h3 {
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 800;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/*_____Inizio Sidebar_____*/


.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 20px;
    background: rgb(16,14,1);
    background: linear-gradient(0deg, rgba(16,14,1,1) 25%, rgba(31,27,0,1) 100%);
}

.sidebar::after {
    /*     content: '';    */

    clear: both;
    display: table;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
}

.logo-brand {
    padding: 5px;
    width: 250px;
}

.logo-brand img{
    width: 140px;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 20px 0;
}

.current-page {
    background-color: #555555;
}

.sidebar-list i {
    vertical-align: middle;
    font-size: 20px;
    padding-right: 10px;
}

.sidebar-list li {
    padding: 15px 10px;
    border-radius: 3px;
}

.sidebar-list a {
    text-decoration: none;
    color: #bbbbbb;
}

.sidebar-list .current-page a {
    color: white;
}

.sidebar-list a:hover {
    color: white;
}

.fa-spotify {
    display: none;
}

.sidebar-list-center {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.sidebar-list-center li {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.sidebar-list-center p {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #898673;
    text-transform: uppercase;
}

.sidebar-list-center a {
    font-size: 13px;
    text-decoration: none;
    color: #898673;
}

.sidebar-list-center a:hover {
    color: #fff;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
}

.sidebar-list-bottom {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-top: 150px;
}

.sidebar-list-bottom li {
    display: flex;
    flex-direction: column;
}

.sidebar-list-bottom span {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #898673;
}

.sidebar-list-bottom a {
    text-decoration: none;
}

.install-app {
    padding-bottom: 15px;
    border-bottom: 2px solid grey;
}

.user-info {
    padding-top: 20px;
}

.user-info span{
    color: #fff;
}

.fa-arrow-alt-circle-down {
    font-size: 20px;
    vertical-align: middle;
    text-decoration: none;
    color: #898673;
}

.fa-user {
    font-size: 30px;
    text-decoration: none;
    color: #ccc;
    vertical-align: middle;
}

/*_____Fine Sidebar_____*/



/*_____Inizio Main-Section_____*/

.main-section {
    float: right;
    display: flex;
    flex-direction: column;
    padding: 25px 150px 25px 150px;
    height: calc(100vh - 90px);
    overflow: auto;
    background: rgb(138,129,1);
    background: linear-gradient(133deg, rgba(138,129,1,1) 0%, rgba(8,8,0,1) 100%);
}

.main-section::after {
    content: '';
    clear: both;
    display: table;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu ul li{
    display: inline-block;
    list-style-type: none;
    flex-grow: 1;
}

.menu li a {
    position: relative;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

.menu li a:hover {
    text-decoration: underline;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
}

.content-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 25px 0 25px 0;
}

.content img{
    width: 160px;
    height: 160px;
    align-items: center;
    box-shadow: 8px 14px 12px -5px rgba(0,0,0,0.58);
}

.content {
    padding: 20px 40px;
}

.content:hover {
    transform: scale(1.1);
}

.album img {
    border-radius: 2%;
}

.artist img {
    border-radius: 50%;
}

/*_____Fine Main-Section_____*/



/*_____Inizio Footer_____*/

.music-player-bar {
    height: 90px;
    background-color: #282828;
}

/*_____Fine Footer_____*/



/*_____Inizio Media Queries_____*/

@media screen and (max-width: 420px) {

    .sidebar {
        padding: 10px 10px;
    }

    .fa-spotify {
        margin: auto;
        display: inline-block;
        font-size: 30px;
    }

    .sidebar-list {
        align-items: center;
    }

    .sidebar-list i {
        padding-right: 0;
    }

    .sidebar-top {
        width: 80px;
        align-items: center;
    }

    .sidebar-top .laptop-tablet-img {
        display: none;
    }

    .sidebar-top span {
        display: none;
    }

    .sidebar-list-center {
        display: none;
    }

    .sidebar-bottom {
        width: 80px;
    }

    .sidebar-list-bottom {
        align-items: center;
    }

    .sidebar-list-bottom span{
        display: none;
    }

    .fa-arrow-alt-circle-down {
        font-size: 25px;
    }

    .fa-user {
        font-size: 25px;
    }

    .main-section {
        padding: 15px 30px 15px 30px;
    }
}
